body {
    background-image: url("img/back.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

.centered-text {
    color: white;
    text-align: center; 
    font-size: 15px;
    color: #fff; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* 縁取りを追加 */
    text-align: center; 
}

footer {
    background-color: #181818;
    color: #a8a8a8;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: all 0.3s ease;
}
p{
    text-align: right;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: #fafafa;
}